input {
    border: none;
}

label {
    margin-left: 10px;
    padding: 5px;
    border: solid 1px red;
}

img {
    width: 30px;
    height: 30px;
}

* {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
    font-weight: 500;
}

html,
body {
    height: 100%;
    margin: 0;
}

.chat,
.menu__topcontainer,
label {
    display: flex;

}

.chat {
    height: 100%;
}

.chat,
.window {
    width: 100%;
}

.window {
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.menu {
    padding: 15px;
    display: flex;
    flex-direction: column;
    
}

.menu__topcontainer {
    align-items: center;
    margin-bottom: 15px;
}

.menu__friends {
    border: solid 1px red;
    flex: 1;
    overflow-y: auto;
}

.window__icons {
    display: flex;
    justify-content: flex-end;
}

.window__send {
    display: flex;
    justify-content: space-between;
}
#sendButton{cursor: pointer;
            border: 1px solid red;}


#messageContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Выравнивание элементов по нижнему краю */
    overflow-y: auto;
}
            
#messageInput {
    margin-top: 10px;  /* Добавление отступа от полей сообщений */
}
