{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link type="text/css" href = "{% static "chats/css/styles.css" %}" rel = "stylesheet"/>
    <link rel = "shortcut icon" href ="{% static 'chats/images/call.svg'%}"/>

</head>

<body>
    <div class="chat">
        <section class="menu">
            <div class="menu__topcontainer">
                <img src="{% static 'chats/images/home.svg'%}" alt="home" />
                <label>
                    <input id="searchInput" placeholder="Поиск..." />
                    <img id="searchButton" src="{% static 'chats/images/search.svg' %}" alt="search" />
                </label>
            </div>
            <div class="menu__friends">
                <h1>Друзья</h1>
            </div>
        </section>
        <section class="window">
            <div class="window__icons">
                {%if request.user.is_authenticated%}
                <li class = "last">{{user.username}}|<a href = {%url 'logout'%}>Выйти</a></li>
                {% else %}
                <li class = "last"><a href = {%url 'registration'%}>Регистрация</a> | <a href = {%url 'login'%}>Войти</a></li>
                {% endif %}
                <img src="{% static 'chats/images/call.svg'%}" alt="call" />
                <img src="{% static 'chats/images/settings.svg'%}" alt="settings" />
            </div>
            <div id="messageContainer" class="window__messages">

            </div>
            <div class="window__send">
                <input id="messageInput" placeholder="Написать сообщение...">
                <div>
                    <img id="smileButton" src="{% static 'chats/images/smile.svg' %}" alt="smile" />
                    <img id="sendButton" src="{% static 'chats/images/send.svg' %}" alt="send" style = '{cursor: pointer;}'/>
                </div>
                <!-- Дополненный код для отображения сообщений в окне чата -->
            <!-- Оставьте ваш HTML код как есть -->

                <script>
                    
                    document.addEventListener('DOMContentLoaded', function () {

                        const messageContainer = document.getElementById('messageContainer');
                        const socket = new WebSocket('ws://127.0.0.1:8000/ws/chats/{{chat_id}}');

                        // Функция для загрузки последних 20 сообщений с сервера
                        async function loadInitialMessages() {
                            try {
                                const response = await fetch(`http://127.0.0.1:8000/chats/messages/{{chat_id}}`);
                                const data = await response.json();
                
                                // Очищаем messageContainer
                                messageContainer.innerHTML = '';
                
                                // Добавляем новые сообщения в messageContainer
                                data.messages.slice(0, 20).forEach(msg => {
                                    const newMessage = document.createElement('div');
                                    newMessage.innerHTML = `<p>${msg.time}: ${msg.sender}: ${msg.text}</p>`;
                                    messageContainer.appendChild(newMessage);
                                });
                
                                // Прокручиваем контейнер вниз
                                messageContainer.scrollTop = messageContainer.scrollHeight;
                            } catch (error) {
                                console.error('Error fetching latest messages:', error);
                            }
                        }
                
                        // Вызываем функцию для загрузки сообщений при открытии страницы
                        loadInitialMessages();
                        function sendMessage(type) {
                            const messageText = document.getElementById('messageInput').value;
                            if (messageText.trim() !== '') {
                                socket.send(JSON.stringify({
                                    type: type,
                                    message: messageText,
                                    user_id: {{request.user.id}},
                                    chat_id: {{chat_id}}
                                }));
                                document.getElementById('messageInput').value = '';
                            }
                        }

                        document.getElementById('messageInput').addEventListener('keydown', function (event) {
                            if (event.key === 'Enter') {
                                // Предотвращаем стандартное поведение Enter (новая строка)
                                event.preventDefault();
                                sendMessage('sendButton');
                            }
                        });

                        socket.onmessage = function (event) {
                            try {
                                const data = JSON.parse(event.data);
                                const messageContainer = document.getElementById('messageContainer');
            
                                if (data.update_messages) {
                                    // Если получено уведомление об обновлении сообщений, вызываем функцию для обновления сообщений
                                    updateMessageContainer();
                                } else {
                                    // Ваш существующий код для обработки сообщений
                                    const newMessage = document.createElement('div');
                                    newMessage.innerHTML = `<p>${data.time}: ${data.sender}: ${data.text}</p>`;
                                    messageContainer.appendChild(newMessage);
            
                                    // Прокручиваем контейнер вниз
                                    messageContainer.scrollTop = messageContainer.scrollHeight;
                                }
                            } catch (e) {
                                console.log('Error:', e.message);
                            }
                        };
                        socket.onerror = function (event) {
                            console.error('WebSocket error:', event);
                        };
                        
                        socket.onclose = function (event) {
                            console.log('WebSocket closed:', event);
                        };

                        function updateMessageContainer() {
                            const chatId = {{ chat_id }};
                            const messageContainer = document.getElementById('messageContainer');
                    
                            // Отправляем запрос на сервер для получения последних сообщений
                            fetch(`http://127.0.0.1:8000/chats/messages/{{chat_id}}`)
                                .then(response => response.json())
                                .then(data => {
                                    // Очищаем messageContainer
                                    messageContainer.innerHTML = '';
                    
                                    // Добавляем новые сообщения в messageContainer
                                    data.messages.forEach(msg => {
                                        const newMessage = document.createElement('div');
                                        newMessage.innerHTML = `<p>${msg.time}: ${msg.sender}: ${msg.text}</p>`;
                                        messageContainer.appendChild(newMessage);
                                    });
                    
                                    // Прокручиваем контейнер вниз
                                    messageContainer.scrollTop = messageContainer.scrollHeight;
                                })
                                .catch(error => console.error('Error fetching latest messages:', error));
                        }
                        
                        document.getElementById('sendButton').addEventListener('click', function () {
                            sendMessage('sendButton');
                        });
                        

                    });
                </script>
            </div>
        </section>
    </div>
</body>

</html>