{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link type="text/css" href = "{% static "chats/css/styles.css" %}" rel = "stylesheet"/>
    <link rel = "shortcut icon" href ="{% static 'chats/images/call.svg'%}"/>

</head>

<body>
    <div class="chat">
        <section class="menu">
            <div class="menu__topcontainer">
                <img src="{% static 'chats/images/home.svg'%}" alt="home" />
                <label>
                    <input id="searchInput" placeholder="Поиск..." />
                    <img id="searchButton" src="{% static 'chats/images/search.svg' %}" alt="search" />
                    <script>
                        function sendMessageI() {
                            const messageText = document.getElementById('searchInput').value;
        
                            // Проверка на пустой ввод
                            if (messageText.trim() !== '') {
                                const socket = new WebSocket('ws://127.0.0.1:8000/ws');
        
                                socket.onopen = function (e) {
                                    socket.send(JSON.stringify({
                                        type: 'searchButton',
                                        message: messageText
                                    }));
                                };
        
                                socket.onmessage = function (event) {
                                    try {
                                        console.log(event);
                                    } catch (e) {
                                        console.log('Error:', e.message);
                                    }
                                };
                            }
                        }
        
                        document.getElementById('searchButton').addEventListener('click', function () {
                            sendMessageI();
                        });

                    </script>
                </label>
            </div>
            <div class="menu__friends">
                <h1>Друзья</h1>
                <ul>
                    {% for friend in friends%}
                        {% if friend.pk == chat_selected %}
                            <li class = 'selected'>{{friend.username}}</li>
                        {% else %}
                            <li><a href  = "{%url 'chat' friend.pk%}">{{friend.username}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="window">
            <div class="window__icons">
                {%if request.user.is_authenticated%}
                <li class = "last">{{user.username}}|<a href = {%url 'logout'%}>Выйти</a></li>
                {% else %}
                <li class = "last"><a href = {%url 'registration'%}>Регистрация</a> | <a href = {%url 'login'%}>Войти</a></li>
                {% endif %}
                <img src="{% static 'chats/images/call.svg'%}" alt="call" />
                <img src="{% static 'chats/images/settings.svg'%}" alt="settings" />
            </div>
            <div id="messageContainer" class="window__messages">
                {% for message in messages %}
                    <div>{{ message.created_at|date:"H:i" }}:  {{message.sender.username}}:{{ message.text }}</div>
                {% endfor %}
            </div>
            <div class="window__send">
                <input id="messageInput" placeholder="Написать сообщение...">
                <div>
                    <img id="smileButton" src="{% static 'chats/images/smile.svg' %}" alt="smile" />
                    <img id="sendButton" src="{% static 'chats/images/send.svg' %}" alt="send" style = '{cursor: pointer;}'/>
                </div>
                <!-- Дополненный код для отображения сообщений в окне чата -->
            <!-- Оставьте ваш HTML код как есть -->

            <script>
                function sendMessage(type) {
                    const messageText = document.getElementById('messageInput').value;
            
                    if (messageText.trim() !== '') {
                        const socket = new WebSocket('ws://127.0.0.1:8000/ws');
            
                        socket.onopen = function (e) {
                            socket.send(JSON.stringify({
                                type: type,
                                message: messageText,
                                user_id: {{request.user.id}},
                                chat_id: {{chat_id}}
                            }));
                        };
            
                        socket.onmessage = function (event) {
                            try {
                                console.log('333')
                                console.log(event)
                                console.log(event.data)
                                console.log(event.type)
                                //const data = JSON.parse(event.data);
                                const messageContainer = document.getElementById('messageContainer');
                                updateMessageContainer();
                                /*
                                if (event.type === 'websocket.send') {

                                    console.log('1111')
                                    updateMessageContainer();
                                } else {
                                    console.log('222')

                                    const newMessage = document.createElement('div');
                                    newMessage.textContent = data.text;
            
           
                                    messageContainer.appendChild(newMessage);
            
       
                                    messageContainer.scrollTop = messageContainer.scrollHeight;
                                */
                                
                            } catch (e) {
                                console.log('444')
                                console.log('Error:', e.message);
                            }
                        };
                    }
                }
            
                function updateMessageContainer() {
                    const chatId = {{ chat_id }};
                    const messageContainer = document.getElementById('messageContainer');
                
                    // Отправляем запрос на сервер для получения последних сообщений
                    fetch(`http://127.0.0.1:8000/chats/messages/${chatId}/`)
                        .then(response => response.json())
                        .then(data => {
                            // Очищаем messageContainer
                            messageContainer.innerHTML = '';
                
                            // Добавляем новые сообщения в messageContainer
                            data.messages.forEach(msg => {
                                const newMessage = document.createElement('div');
                                newMessage.textContent = `${msg.time}: ${msg.sender}: ${msg.text}`;
                                messageContainer.appendChild(newMessage);
                            });
                
                            // Прокручиваем контейнер вниз
                            messageContainer.scrollTop = messageContainer.scrollHeight;
                        })
                        .catch(error => console.error('Error fetching latest messages:', error));
                }
                
            
                document.getElementById('sendButton').addEventListener('click', function () {
                    sendMessage('sendButton');
                });
            </script>

            </div>
        </section>
    </div>
</body>

</html>