{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link type="text/css" href = "{% static "chats/css/styles.css" %}" rel = "stylesheet"/>
    <link rel = "shortcut icon" href ="{% static 'chats/images/call.svg'%}"/>

</head>


<body>
    <button id="startWebSocket">Start WebSocket</button>

    <script>
        document.getElementById('startWebSocket').addEventListener('click', function () {
            const socket = new WebSocket('ws://127.0.0.1:8000/ws');

            socket.onopen = function (e) {
                socket.send(JSON.stringify({
                    message: 'Hello from Js client'
                }));
            };

            socket.onmessage = function (event) {
                try {
                    console.log(event);
                } catch (e) {
                    console.log('Error:', e.message);
                }
            };
        });
    </script>
    <div class="chat">
        <section class="menu">
            <div class="menu__topcontainer">
                <img src="{% static 'chats/images/home.svg'%}" alt="home" />
                <label>
                    <input placeholder="Поиск..." />
                    <img src="{% static 'chats/images/search.svg'%}" alt="search" />
                </label>
            </div>
            <div class="menu__friends">
                <h1>Друзья</h1>
                <ul>
                    {% for friend in friends%}
                        {% if friend.pk == chat_selected %}
                            <li class = 'selected'>{{friend.name}}</li>
                        {% else %}
                            <li><a href  = "{{ friend.get_absolute_url }}">{{friend.name}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="window">
            <div class="window__icons">
                {%if request.user.is_authenticated%}
                <li class = "last">{{user.username}}|<a href = {%url 'logout'%}>Выйти</a></li>
                {% else %}
                <li class = "last"><a href = {%url 'registration'%}>Регистрация</a> | <a href = {%url 'login'%}>Войти</a></li>
                {% endif %}
                <img src="{% static 'chats/images/call.svg'%}" alt="call" />
                <img src="{% static 'chats/images/settings.svg'%}" alt="settings" />
            </div>
            <div>

            </div>
            <div class="window__send">
                <img src="{% static 'chats/images/file.svg'%}" alt="file" />
                <input placeholder="Написать сообщение...">
                <div>
                    <img src="{% static 'chats/images/smile.svg'%}" alt="smile" />
                    <img src="{% static 'chats/images/send.svg'%}" alt="send" />
                </div>
            </div>
        </section>
    </div>
</body>

</html>